<form [formGroup]="cityValue">
    <div class="body">
        <div class="select-menu" #selectMenu>
            <div class="select-btn" (click)="toggleMenu()" [ngClass]="{'select-clicked':isClicked === true}">
                <span class="select-btn-text" [innerText]="selectedCity"></span>
                <div class="arrow"  [ngClass]="{'arrow-rotate':isClicked === true}"></div>
            </div>
            <ul class="options" [ngClass]="{'menu-open':isClicked === true, 'menu-closed':isClicked === false}" >
                <div class="search-options">
                    <input type="checkbox" class="checkbox" [(ngModel)]="isMasterSel" [ngModelOptions]="{standalone: true}" (change)="checkUncheckAll()">
                    <input type="text" class="search-box" [(ngModel)]="filteredCity" [ngModelOptions]="{standalone: true}" (keyup) ="filterCities()">
                    <span><i class="fa fa-times"  (click)="toggleMenu()" [ngClass]="{'menu-open':isClicked === true}" ></i></span>
                </div>
                <li class="option" *ngFor="let city of filterdCities" [value]="city"  formControlName="cityName" ngDefaultControl>
                    <label class="optionText">
                        <input type="checkbox" class="checkbox" (change)="isAllSelected()" [(ngModel)]="city.isSelected" [ngModelOptions]="{standalone: true}">
                        {{city.name}}
                    </label>
                </li>
            </ul>
        </div>
    </div>
</form>